*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('http://localhost/webshop/pub/fonts/fontawesome-webfont.eot');
    src: url('http://localhost/webshop/pub/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('http://localhost/webshop/pub/fonts/fontawesome-webfont.woff2') format('woff2'), url('http://localhost/webshop/pub/fonts/fontawesome-webfont.woff') format('woff'), url('http://localhost/webshop/pub/fonts/fontawesome-webfont.ttf') format('truetype'), url('http://localhost/webshop/pub/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal
}
.page-header {
    margin: 0 !important;
}
.display-block{
    display: block;
}
.display-none{
    display: none;
}
.padding-10{
    padding: 10px;
}
/*console*/
.console-wrap {
    /*margin-top: 20px;*/
}

.console-wrap .console-log {
    width: 100%;
    height: 200px;
    background: #000000;
    margin: 10px auto;
    padding: 10px;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*install*/
.install-progress{
    border: 1px solid #E0E0E0;
    padding: 0px;
    /*width: 85%;*/
    margin-right: 30px;
}
.install-progress-title{
    padding-left: 10px;
    margin: 5px 0px;
}
.install-logo{
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    color: red;
}
.webshop-install{
    border: 1px solid #e0e0e0;
    background-color: #FAFAFA;
    padding: 30px 15px;
}
.border-bottom{
    border-bottom: 1px solid #e0e0e0;

}
.install-progress-step-title{
    padding: 5px 10px 5px;
}
.install-content{
    border: 1px solid #e0e0e0;
    margin-left: -15px;
    padding: 0px;
}
.install-content .page-header{
    padding-left: 20px;
}
.form-group.row{
    margin: 10px 0px 0px;
    padding-bottom: 10px;
}
.btn-install{

}
.btn-submit{
    background-color: #FF4000 !important;
    border-color: #FF4000;
    color: #ffffff;
    min-width: 120px;
}
.btn-submit:hover {
    background-color: #FE642E !important;
    color: #fff;
    text-decoration: none;
}
.form-install-submit{
    float: right;
    margin: 20px 10px;
}
.error{
    color: red;
}
.install-success{
    color: #00FF00;
}
.install-active{
    color: #0101DF;
}
.console-error {
    color: #ff0000;
    font-size: 12px
}

.console-success {
    color: #008000;
    font-size: 12px
}

.console-warning {
    color: #ffff00;
    font-size: 12px
}
#setup-admin-url{
    display: inline-block;
}
#setup-admin-url input{
    display: inline-block !important;
    width: auto !important;
}